flask
pandas
passlib
python-dotenv
requests
sqlalchemy
sqlacodegen
flask-wtf
flask-uploads
wtforms_alchemy
flask-session
flask-login
flask_sqlalchemy
flask_bootstrap
redis
pyyaml
pyodbc
Flask-RESTPlus
cryptography