
{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %}Consecutive{% endblock %}


{% block content %}
<div class="container">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
      
        {{ wtf.form_field(form.name) }}
        {{ wtf.form_field(form.active) }}
        {{ wtf.form_field(form.user_role_id) }}

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}