{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/login.css">
<link rel="stylesheet" href="/static/css/private_page.css">
{% endblock%}

{% block content %}


<div class="container">
<br>
<br>
<!-- <div class="container">
  <div class=" row">
    <nav class="navbar navbar-expand-lg navbar-dark black">
     <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/admin/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/admin/form/consecutive">consecutive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/admin/form/code">Code</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/form/degree">Degree</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/form/equipment">Equipment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/experiment">Experiment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/form/job">Job</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/form/project">Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/admin/form/branch">Branch</a>
        </li>
    </ul> 
    </nav>
</div>
</div> -->
<br>
<br>
  <div class="card">
    <div class="card-header text-white bg-primary">
         Login 
    </div>
  
    <div class="card-body">
      <!-- alerts  -->
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                  {% if category == 'message' %}
                    <div class="alert alert-success" role="alert">
                  {% else %}
                    <div class="alert alert-{{ category }}" role="alert">
                  {% endif %}
                    {{ message }}
                  </div>
              {% endfor %}
            {% endif %}
        {% endwith %}
  <div class="container">
    <div class="card">
      <div class="card-header text-white bg-dark">
          Login 
      </div>
      <div class="card-body">
        <!-- alerts  -->
      <div>
          {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'message' %}
                      <div class="alert alert-success" role="alert">
                    {% else %}
                      <div class="alert alert-{{ category }}" role="alert">
                    {% endif %}
                      {{ message }}
                    </div>
                {% endfor %}
              {% endif %}
          {% endwith %}
      </div>
    
      <form class="form" method="post" role="form"  enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ wtf.form_errors(form, hiddens="only") }}

          {{ wtf.form_field(form.nickname) }}
          {{ wtf.form_field(form.password) }}
          {{ wtf.form_field(form.submit, class="color btn btn-primary") }}
      </form>
    </div>
  </div>

{% endblock %}