
{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %}Consecutive{% endblock %}


{% block content %}
<div class="container">
    <form class="form" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
      
        {{ wtf.form_field(form.table_name_id) }}
        {{ wtf.form_field(form.type_id) }}
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.value) }}
        {{ wtf.form_field(form.prefix) }}
        <button type="submit" class="btn btn-primary" name="form_button" value="create">Submit</button>
        <button type="update" class="btn btn-secondary" name="form_button" value="update">Update</button>
        <button type="delete" class="btn btn-danger" name="form_button" value="delete">Delete</button>
    </form>
</div>
{% endblock %}