.container{
    margin-top: 10px;    
}

.row{
    background-color:#343a40;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card{
    background-color: rgba(255,255,255,0.2);
    border: 0px;
}
.form-group{
    border: 0px
}

.nav-link{
   color: white;
}
.nav-link:hover{
    color: #00b4d8;
}

body{
    background: #2980b9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right top, #004d7a, #008793, #00bf72);
    background: linear-gradient(to right top, #004d7a, #008793, #00bf72);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html{
    height: 100%;
}

.letra{
   color: black ;
}

.jumbotron{
    background-color: rgba(0,0,0,0.1);
    color:white
}